html,body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none;
  margin: 0;
  padding: 0;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: none;
    image-rendering: pixelated;
}

.custom-dropdown {
    position: relative;
    display: inline-block; 
    
}
.dropdown-list {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
}
.dropdown-list li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px; 
}
.dropdown-list img {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
}
.dropdown-list li:hover {
    background-color: #f0f0f0; 
}