html,body {
  overflow: hidden;
  border: none;
  margin: 0;
  padding: 0;
}

canvas {
    display: block;
    margin: 0 auto;
    border: none;
    image-rendering: pixelated;
}

#play_button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
	cursor: pointer;
	width: 30%;
}